[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
C  = CO
ST = BOG
L  = BOG
O  = Kahuna Development
CN = localhost
emailAddress = sample@example.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = node1
DNS.3 = node2
DNS.4 = node3
IP.1  = 172.20.0.2
IP.2  = 172.20.0.3
IP.3  = 172.20.0.4
IP.4  = 127.0.0.1
