.idea
.vs
Kommander/.idea
Kommander/bin
Kommander/obj
Kommander.Server/.idea
Kommander.Server/bin
Kommander.Server/obj
Kommander.Server/database*
Kommander.Tests/.idea
Kommander.Tests/bin
Kommander.Tests/obj
Kommander.Tests/database*
