
services:
  node1:    
    build:
      context: . #current dir as build context
      args:
        KOMMANDER_RAFT_HOST: 172.20.0.2
        KOMMANDER_RAFT_PORT: 8082
        KOMMANDER_HTTP_PORTS: 8004 8081
        KOMMANDER_HTTPS_PORTS: 8005 8082
        KOMMANDER_INITIAL_CLUSTER: 172.20.0.3:8084 172.20.0.4:8086      
    container_name: node1
    ports:
      - "8081:8004"
      - "8082:8005"
    volumes:
      - node1-data:/app/data      
    networks:
      custom_net:
        ipv4_address: 172.20.0.2

  node2:
    build:
      context: . #current dir as build context
      args:
        KOMMANDER_RAFT_HOST: 172.20.0.3
        KOMMANDER_RAFT_PORT: 8084
        KOMMANDER_HTTP_PORTS: 8004 8083
        KOMMANDER_HTTPS_PORTS: 8005 8084
        KOMMANDER_INITIAL_CLUSTER: 172.20.0.2:8082 172.20.0.4:8086     
    container_name: node2    
    ports:
      - "8083:8004"
      - "8084:8005"
    volumes:
      - node2-data:/app/data      
    networks:
      custom_net:
        ipv4_address: 172.20.0.3

  node3:
    build:
      context: . #current dir as build context
      args:
        KOMMANDER_RAFT_HOST: 172.20.0.4
        KOMMANDER_RAFT_PORT: 8086
        KOMMANDER_HTTP_PORTS: 8004 8085
        KOMMANDER_HTTPS_PORTS: 8005 8086
        KOMMANDER_INITIAL_CLUSTER: 172.20.0.2:8082 172.20.0.3:8086       
    container_name: node3    
    ports:
      - "8085:8004"
      - "8086:8005"
    volumes:
      - node3-data:/app/data      
    networks:
      custom_net:
        ipv4_address: 172.20.0.4

volumes:
  node1-data:
  node2-data:
  node3-data:

networks:
  custom_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
